[Unit]
Description=Resets the Atmel maXTouch chips (Touchscreen/Trackpad)

[Service]
ExecStart=/usr/local/bin/enable-atmel.sh

[Install]
WantedBy=multi-user.target sleep.target
